<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Category</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container" style="border: 1px solid mediumslateblue">
    <div class="row">
        <div class="col-md-12">
            <h1>Delete this category</h1>
            <h4>Are you sure?</h4>
            <h4><a th:href="@{/categories/list}" class="btn btn-link">Changed your mind? Back to category list</a></h4>
        </div>
    </div>
    <div class="row">
        <form th:object="${category}" th:action="@{/categories/delete}" method="post">
            <div class="form-group">
                <label for="productId">Category ID</label>
                <input type="hidden" readonly class="form-control" id="productId" th:field="*{id}">
            </div>
            <div class="form-group">
                <label for="productName">Category Name</label>
                <input type="text" readonly class="form-control" id="productName" th:field="*{name}">
            </div>
            <button type="submit" class="btn btn-danger">Yes, I am sure. Delete it</button>
        </form>
    </div>
</div>
</body>
</html>