<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <h1><a th:href="@{/}">NOZAMA.COM</a></h1>
    </div>
    <div class="row">
        <h1><span th:text="${username}"></span>'s cart</h1>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Quantity</th>
                <th>Subtotal Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <td th:text="${cartItem.getProduct().getName()}"></td>
                <td>
                    <a th:href="@{/cart/update/__${username}__/__${cartItem.id}__(action='decrease')}"
                       th:text="${'-'}"></a>
                    <span th:text="${cartItem.quantity}"></span>
                    <a th:href="@{/cart/update/__${username}__/__${cartItem.id}__(action='increase')}"
                       th:text="${'+'}"></a>
                </td>
                <td th:text="${cartItem.quantity*cartItem.getProduct().getPrice()}"></td>
                <td><a th:href="@{/cart/delete/__${cartItem.id}__/__${username}__}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg></a></td>
            </tr>
            <tr>
                <td></td>
                <td style="font-weight: bold">Total Amount</td>
                <td style="font-weight: bold" th:text="${sum}"></td>
                <td><a class="btn btn-success" href="#">Pay Now</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
</script>
</body>
</html>