<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Quantity</th>
                <th>SubTotal</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <td th:text="${cartItem.getProduct().getName()}"></td>
                <td>
                    <a th:href="@{/cart/update/__${username}__/__${cartItem.id}__(action='decrease')}" th:text="${'-'}"></a>
                    <span th:text="${cartItem.quantity}"></span>
                    <a th:href="@{/cart/update/__${username}__/__${cartItem.id}__(action='increase')}" th:text="${'+'}"></a>
                </td>
                <td th:text="${cartItem.quantity*cartItem.getProduct().getPrice()}"></td>
                <td><a th:href="@{/cart/delete/__${cartItem.id}__/__${username}__}">Remove</a></td>
            </tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td th:text="${sum}" colspan="2"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
</script>
</body>
</html>