<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Nozama.com - Online Shopping</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        tr, th {
            text-align: center;
        }
        td {
            vertical-align: center;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div sec:authorize="isAnonymous()">
                <h1>Log in to begin your shopping journey</h1>
                <a th:href="@{/login}" class="btn btn-primary">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <h1>Welcome <span sec:authentication="principal.username"></span>!</h1>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a>
            </div>
        </div>
        <div class="col-md-6">
            <form style="margin-top: 10px">
                <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control" placeholder="Search for product by name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                        <button class="btn btn-outline-secondary" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green"
                                 class="bi bi-mic" viewBox="0 0 16 16">
                                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                                <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product Image</th>
                <th scope="col">Product Description</th>
                <th scope="col">Product Category</th>
                <th scope="col">Cart</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <img th:src="@{'/upload_img/' + ${product.imgUrl}}" alt="Error" width="100" height="100">
                </td>
                <td th:text="${product.category != null ? product.category.name : ''}"></td>
                <td th:text="${product.description}"></td>
                <td>
                    <div sec:authorize="isAnonymous()">Log in to purchase</div>
                    <div sec:authorize="isAuthenticated()"><a th:href="@{/add/__${product.id}__(action='user-show')}">Add
                        to cart</a></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>